
header{
    /* border: 1px solid darkgreen; */
}
header>.row{
    /* background-color: mediumpurple; */
    
    /* border: 1px solid black; */
}
header>nav{
    /* background-color: mediumpurple; */
    box-shadow: 0px 1px 3px mediumpurple;
}
#slider{
    /* margin-top: 133px; */
    margin-top: 146px;
    /* background-size: cover; */
}
#slider img{
    /* object-fit: cover; */
}
.container{
    /* border: 1px solid blue; */
}
section{
    /* border: 1px solid red; */
}
div{
    /* border: 1px solid darkgreen; */
}
/* 슬라이드 최대크기 설정 */
.carousel-item {
    max-height: 32rem;
  }
/* 검색창 이동 */
.search{
    /* border: 2px solid darkgreen; */
    position: relative;
    top: -40px;
}
.search > .container{
    /* border: 2px solid mediumpurple; */
    border-radius: 45px;
    box-shadow: 0px 2px 8px mediumpurple;
}
/* 검색창 내에 input박스 가운데 정렬 */
.s-box1{
    text-align: center;
    width: 25%;
}
.s-box2{
    text-align: center;
    border-left: 2px solid mediumpurple;
    border-right: 2px solid mediumpurple;
    width: 28%;
}
.s-box3{
    text-align: center;
    width: 25%;
}
/* 검색창 내에 input박스 크기지정 */
.search-box1, .search-box2, .search-box3{
    border: none;
    width: 80%;
    text-align: left;
}
.search-box1, .search-box2, .search-box3:focus{
    outline: none;
}
footer{
    background-color: mediumpurple;
    height: 350px;
}
