header .row{
    background-color: mediumpurple;
    /* border: 1px solid black; */
}
header>nav{
    background-color: rgb(195, 174, 238);
}
.slide{
    /* height: 300px; */
    /* background-size: cover; */
}
.container{
    /* border: 1px solid blue; */
}
section{
    /* border: 1px solid red; */
}
div{
    /* border: 1px solid darkgreen; */
}
/* 슬라이드 최대크기 설정 */
.carousel-item {
    max-height: 32rem;
  }
/* 검색창 이동 */
.search{
    /* border: 2px solid darkgreen; */
    position: relative;
    top: -40px;
}
.search > .container{
    border: 1px solid mediumpurple;
    border-radius: 45px;
}
.search-box1, .search-box2, .search-box3{
    border: none;
}
footer{
    background-color: mediumpurple;
}
