@charset "utf-8";

/* 슬라이드 최대크기 설정 */
.carousel-item {
    max-height: 40rem;
}
/* 검색창 설정 */
.search {
    /* border: 2px solid darkgreen; */
    position: relative;
    top: -40px;
}

.search > .container {
    /* border: 2px solid mediumpurple; */
    border-radius: 45px;
    box-shadow: 0 2px 8px #3f51b5;
    width: 60%;
    margin: auto;
}
/* 검색창 내에 input박스 가운데 정렬 */
.s-box1 {
    text-align: center;
    width: 25%;
}
.s-box2 {
    text-align: center;
    /* border-left: 2px solid #3f51b5;
    border-right: 2px solid #3f51b5; */
    width: 28%;
}
.s-box3 {
    text-align: center;
    width: 25%;
}
/* 검색창 내에 input박스 크기지정 */
.search-box1,
.search-box2,
.search-box3 {
    border: none;
    width: 80%;
    text-align: left;
}
.search-box1,
.search-box2,
.search-box3:focus {
    outline: none;
}
/* 중간에 캠페인 섹션 */
.campaign {
    background: url("https://cdn.pixabay.com/photo/2021/05/09/06/07/dog-6240043_960_720.jpg");
    height: 400px;
    /* background-position: center; */
    background-size: cover;
    /* background-repeat: no-repeat; */
}
.campaign-text {
    font-size: 3em;
    width: 300px;
    color: white;
    font-family: sans-serif;
    position: relative;
    top: 80px;
    left: 250px;
    animation: disappear 1.5S ease-out forwards;
}
/* 애니메이션 효과 */
@keyframes slide {
    from {
        left: -100px;
        opacity: 0;
    }
    to {
        left: 250px;
        opacity: 1;
    }
}
@keyframes disappear {
    from {
        left: 250px;
        opacity: 1;
    }
    to {
        left: -100px;
        opacity: 0;
    }
}
