@charset "utf-8";

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.title_kds {
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 10%;
    font-weight: bolder;

}

.whole_modal {
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.modal-inner {
    position: absolute;
    top: calc(50vh - 190px); left: calc(50vw - 200px);
    border-radius: 8px;
    padding: 5%;
    justify-content: center;
    align-items: center;
    width: 300px;
    text-align: center;
    background-color: ghostwhite;
}

.title {font-size: larger;
        font-weight: bold;}

.login {background-color: #3f51b5;
        color: white;
        width: 190px;
        margin-top: 8px;
        padding: 8px;
        font-size: 15px;
        }

#lg {
    margin-top: 8px;
    padding: 8px;
}

.temppw_title {font-size: larger;
    font-weight: bold;    
}

#tpw {
    margin-top: 8px;
    padding: 8px;
}

.temppw_sand {
    background-color: #3f51b5;
    color: white;
    width: 190px;
    margin-top: 8px;
    padding: 8px;
    font-size: 13px;
}

.join_title {
    font-size: larger;
    font-weight: bold;
}

.join_btn{
    background-color: #3f51b5;
    border-radius: 3px;
    color: white;
    width: 200px;
    margin-top: 8px;
    padding: 8px;
    font-size: 13px;
}

#join {
    margin-top: 8px;
    padding: 8px;
}

.sns_join {
    font-size: larger;
    font-weight: bold;
}

.singin {
    margin-top: 8px;
}

#idpw_kds {
    text-decoration: none;
}

#nonmem_kds {
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    
}

.btn_kds {
    margin-top: 10px;
}

