@charset "utf-8";
* {
    }
body {
    padding-top: 135px;
}
a {
    text-decoration: none !important;
    color: #3f51b5 !important;
}

#divider {
    color: #3f51b5;
}
/* 네비게이션 바 그림자 */
header > nav {
    /* background-color: mediumpurple; */
    box-shadow: 0 1px 3px #3f51b5;
}
#footer {
    background-color: #3f51b5;
    height: 350px;
    padding-top: 70px;
}
.title {
    color: #3f51b5;
}

/* -------------------------------------------------------------- */

/* find_board */

#find-board {
    /* border: 2px solid #3f51b5; */
    /* box-shadow: 1px 1px 8px #3f51b5; */

}
#finder-photo {
    box-shadow: 1px 1px 8px #3f51b5;
}
#btn_eh { 
    background-color: #3f51b5;
    color: aliceblue;
}

.float_eh {
    float:right;
}





.
