@charset "utf-8";

.aa22{-moz-box-shadow: -2px 0px 16px #4d454d;
    -webkit-box-shadow: -2px 0px 16px #4d454d;
    box-shadow: -2px 0px 16px #4d454d;
    padding: 5% 5% 5% 5%;}

.col-md-6{border-radius: 0%;}
.a99{font-size: 70px;
    text-align: center;}
.aa55{background-color: aliceblue;
        width: auto;
        height: 30px;
        border-radius: 10px 10px 10px 10px;
        background-color: darkgray;}
.progress-bar{height: 30px;
    border-radius: 5px 5px 5px 5px;}
.aa33{background:-webkit-gradient(radial, -16 0, 0, 220 -257, 465, from(#A483FF), to(#714E28))}
.bb22{margin-left: 75%;
    margin-bottom: 1%;}
.aa22{padding: 2%;  
      background-color: #714E28;
      position: relative;}
p{line-height: 0.5cm;}
.GB1{display: grid;
    grid-row: 300px 300px;}
.row{position: relative;
    background-color: rgb(187, 197, 206);
    margin-right: 0;
margin-bottom: 0;}
.kk11{position: absolute;
    background-color: rgb(78, 165, 241);
    height: 94%;
    width: 98%;
    z-index: 1;}
  